<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- XML declaration specifying version, encoding, and standalone attribute -->
<!DOCTYPE events SYSTEM "Events.dtd">
<!-- Document Type Definition (DTD) declaration -->
<Events>
    <!-- Root element, representing a collection of events -->
    <Event>
        <!-- Start of the first event entry -->
        <event_ID>1</event_ID>
        <!-- Event ID -->
        <venue>2</venue>
        <!-- Venue ID or name -->
        <date>21/10/2023</date>
        <!-- Date of the event -->
        <entertainer>1</entertainer>
        <!-- ID of the entertainer associated with the event -->
        <tickets_available>5</tickets_available>
        <!-- Number of available tickets for the event -->
    </Event>
    <!-- End of the first event entry -->
    <Event>
        <event_ID>2</event_ID>
        <venue>4</venue>
        <date>13/12/2023</date>
        <entertainer>5</entertainer>
        <tickets_available>4</tickets_available>
    </Event>
    <Event>
        <event_ID>3</event_ID>
        <venue>Los Angeles</venue>
        <date>21/11/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
    <Event>
        <event_ID>4</event_ID>
        <venue>1</venue>
        <date>21/11/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
    <Event>
        <event_ID>5</event_ID>
        <venue>2</venue>
        <date>21/11/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
    <Event>
        <event_ID>6</event_ID>
        <venue>3</venue>
        <date>21/12/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
    <Event>
        <event_ID>7</event_ID>
        <venue>3</venue>
        <date>21/10/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
    <Event>
        <event_ID>8</event_ID>
        <venue>3</venue>
        <date>21/11/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
    <Event>
        <event_ID>9</event_ID>
        <venue>1</venue>
        <date>21/11/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
    <Event>
        <event_ID>10</event_ID>
        <venue>3</venue>
        <date>21/11/2023</date>
        <entertainer>1</entertainer>
        <tickets_available>255</tickets_available>
    </Event>
</Events>
<!-- End of the root element -->